@use "../base/variables" as v;

.container__contacto {
  padding: 1rem;
  background: v.$background-nosotras;
  font-family: v.$font-text-primary;
  color: v.$font-primary;
  .contact__firts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1,
    h2 {
      font-size: 3.6rem;
      margin-bottom: 2rem;
      text-wrap: pretty;
      font-weight: 700;
      line-height: 200%;
    }
    p {
      font-size: 1.6rem;
      font-weight: 400;
      margin: 0;
    }
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      .container-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #4a2a13;
        border-radius: 8px;
        width: 65%;
        img {
          width: 50px;
        }
      }
    }
  }
  .img-uno {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      padding: 5rem;
    }
  }
}
