@use "../base/variables" as v;

.container__contacto {
  max-width: 1400px;
  background: v.$background-nosotras;
  color: v.$font-primary;
  max-width: 1800px;
  .contact__firts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: -1.7361vw 4.4444vw;
    h1,
    h2,
    h3 {
      font-size: 2.5vw;
      margin-bottom: 2vw;
      text-wrap: pretty;
      font-weight: 700;
      line-height: 200%;
      font-family: v.$font-text-primary;
    }
    p {
      font-size: 1.222vw;
      font-weight: 400;
      margin: 0;
      line-height: 2.5vw;
      font-family: "Myriad Pro";
    }
    .p-last {
      margin-top: 2vw;
    }
    .firts-txt {
      text-align: justify;
    }
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5vw;
      margin-top: 2vw;
      margin-bottom: 2vw;
      .container-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #4a2a13;
        border-radius: 8px;
        width: 27vw;
        height: 3.5vw;
        p {
          font-weight: 700;
          font-family: v.$font-text-primary;
        }
        img {
          width: 5vw;
        }
      }
    }
  }
  .img-uno,
  .img-dos {
    display: flex;
    justify-content: end;
    img {
      width: 80%;
      padding: 5vw 0vw;
    }
  }
  .img-dos {
    justify-content: start;
  }
}

.section-pink {
  background-color: v.$background-banner;
}

// Responsive
@media screen and (max-width: 880px) {
  .container__contacto {
    padding: 3vw;
    .contact__firts {
      display: flex;
      flex-direction: column;
      h1,
      h2 {
        font-size: 4vw;
        @media screen and (max-width: 600px) {
          font-size: 5.6vw;
          line-height: 7vw;
          margin-bottom: 4vw;
        }
      }
      h3 {
        font-size: 5.6vw;
        margin-top: 3vw;
      }
      .title-firts {
        margin-top: 4vw;
      }
      p {
        font-size: 2vw;
        margin: 2vw;
        line-height: 4vw;
        @media screen and (max-width: 600px) {
          font-size: 3.5vw;
          line-height: 5vw;
          margin-bottom: 3vw;
        }
      }
      .firts-txt {
        text-align: center;
      }
      .icons {
        .container-icons {
          width: 70vw;
          height: 9vw;
          @media screen and (max-width: 600px) {
            margin-top: 2vw;
          }
          p {
            font-size: 2.1vw;
            @media screen and (max-width: 600px) {
              font-size: 3.5vw;
            }
          }
        }
      }
      .img-uno,
      .img-dos {
        justify-content: center;
      }
      .img-dos {
        order: 2;
      }
      .div-dos {
        order: 1;
      }
      img {
        width: 70%;
      }
    }
  }
}
