@use "../base/variables" as v;

.container__contacto {
  padding: 5rem;
  background: v.$background-nosotras;
  font-family: v.$font-text-primary;
  color: v.$font-primary;
  .contact__firts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1,
    h2 {
      font-size: 3.6rem;
      margin-bottom: 3rem;
      text-wrap: pretty;
      font-weight: 700;
      line-height: 200%;
    }
    p {
      font-size: 2rem;
      font-weight: 400;
      // text-wrap: pretty;
    }
    .icons {
      display: block;
      div {
        display: block;
        img,
        svg {
          width: 90px;
        }
        a {
          font-size: 2rem;
          border-radius: 8px;
          border-top: 4px solid #4a2a13;
          border-right: 4px solid #4a2a13;
          border-bottom: 4px solid #4a2a13;
        }
      }
    }
  }
  .img-uno {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      padding: 5rem;
    }
  }
}
