@use "../base/variables" as v;

.detalle-container {
  max-width: 1400px;
  padding: 2vw 5vw;
}
.detalle-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detalle-imagen {
  width: 30%;
  height: auto;
  border-radius: 8px;
  max-width: 100%;
}
.container__info {
  flex: 1;
  margin-left: 5vw;
  color: v.$font-primary;
  h2 {
    font-size: 1.9vw;
    font-weight: 700;
    font-family: "Noto Serif";
  }
  .id-txt {
    font-size: 1vw;
    color: rgba(74, 42, 19, 0.5);
    line-height: 0.3vw;
    margin-top: 0.7vw;
  }
  .descripcion {
    font-size: 1.1vw;
    text-align: justify;
    font-family: "Myriad Pro";
    line-height: 1.8vw;
    margin-top: 2vw;
  }
}
.productos-miniatura {
  display: flex;
  flex-direction: column;
  h3 {
    text-align: start;
    margin-top: 1vw;
    font-size: 1.6vw;
    font-family: "Noto Serif";
    font-weight: 600;
  }
  .productos-miniatura-imagenes {
    display: flex;
    gap: 8rem;
    width: 40%;
    margin-top: 1vw;
    .container__img {
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: 1.5vw;
      img {
        border-radius: 8px;
        width: 62px;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
.btn-comprar {
  background-color: v.$background-button;
  width: 90%;
  height: 62px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  margin: 0 auto;
  font-size: 25px;
  font-family: "Noto Serif";
  &:hover {
    background-color: #d1345e;
  }
}

@media screen and (max-width: 820px) {
  .container__detalle {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 1rem;
    img {
      width: 85%;
      margin-bottom: 2rem;
    }
    .container__info {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 1rem;
      margin: 0;
      .id-txt {
        text-align: start;
        line-height: 10px;
        margin-bottom: 3rem;
      }
      p {
        text-align: justify;
      }
    }
    .productos-miniatura {
      margin: 0 auto;
    }
    .productos-miniatura-imagenes {
      align-items: center;
      width: 80vw;
      margin-top: 5vw;
    }
    .btn-comprar {
      font-size: 20px;
      width: 100%;
    }
  }
}

.colores-miniatura-imagenes {
  display: flex;
}
