@use "../base/variables" as v;

.detalle-container {
  padding: 3rem 7rem;
  font-family: "Noto Serif";
}
.container__detalle {
  display: flex;
  margin-bottom: 1rem;
  margin: 0 auto;
  color: v.$font-primary;
  img {
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
  }
  .container__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 7rem;
    div {
      line-height: 0px;
    }
    h2 {
      font-size: 24px;
    }
    .id-txt {
      font-size: 14px;
      color: rgba(74, 42, 19, 0.5);
    }
  }
  p {
    font-size: 15px;
    text-align: justify;
    margin-top: 1.5rem;
  }
  button {
    margin-top: 1rem;
  }
}

.productos-miniatura {
  display: flex;
  flex-direction: column;
  h3 {
    text-align: start;
    margin-top: 3.5rem;
    font-size: 20px;
  }
  .productos-miniatura-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
    width: 70%;
    .container__img {
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: 3rem;
      width: 80px;
      img {
        border-radius: 8px;
        width: 85%;
        @media only screen and (min-width: 641px) and (max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
}
.btn-comprar {
  background-color: v.$background-button;
  width: 80%;
  height: 60px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  margin: 0 auto;
  font-size: 25px;
}
