@use "../base/variables" as v;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$background-primary;
  gap: 2vw;
  font-family: v.$font-text-primary;
  font-size: 1.233vw;
  font-weight: 700;
  max-width: 1800px;
  section {
    display: flex;
    align-items: center;
    img,
    a {
      cursor: pointer;
      margin: 0.5vw;
      color: inherit;
      text-decoration: none;
    }
  }
  p {
    margin: 0;
  }
}

// Responsive
@media screen and (max-width: 880px) {
  footer {
    font-size: 1.6vw;
    @media screen and (max-width: 714px) {
      font-size: 2vw;
      @media screen and (max-width: 550px) {
        font-size: 3vw;
      }
    }
    img {
      width: 30px;
    }
    .whatsapp-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .geo {
    display: none;
  }
}
