// footer.scss

@use "../base/variables" as v;
@import "../base/mixing";
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$background-primary;
  /*  position: absolute;
  bottom: 0; */ // LO COMENTO SOLO PARA QUE SE ME VEA BIEN, YA CON EL COMPONENTE EN APP QUEDA ABAJO DE TODO. :)
  width: 100%;
  font-family: v.$font-text-primary;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  max-width: 1400px; // Te agregué esto para que cuando se achique toda la pagina con la lupa sea por igual.
  section {
    display: flex;
    align-items: center;
    margin: auto 1.5rem;
    img,
    a {
      cursor: pointer;
    }
  }

  @include mobile() {
    display: block;
  }

  @include tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

// display: flex;
// justify-content: center;
// align-items: center;
