@use "../base/variables" as v;

.home__container {
  background-image: url("../assets/home-fondo.jpg");
  background-size: cover;
  background-position: center top -8.17vw;
  font-family: v.$font-text-primary;
  max-width: 1800px;
  .title__container {
    display: flex;
    align-items: flex-start;
    padding: 8vw 11vw;
    color: v.$font-primary;
    h1 {
      margin-bottom: 2.5vw;
      font-size: 5.2vw;
      font-weight: 700;
      span {
        display: block;
        text-align: center;
      }
    }
    .parrafo-txt {
      font-size: 1.3vw;
      line-height: 1.4vw;
      margin-bottom: 1vw;
      text-align: center;
      button {
        background-color: v.$background-button;
        padding: 2rem 6rem;
        margin-top: 2.5vw;
        border-radius: 8px;
        color: white;
        font-weight: 700;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
          0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
.card__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10vw 5vw;
  gap: 3vw;
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    a {
      display: block;
      text-decoration: none;
      color: inherit;
    }
    .txt__container {
      padding: 1vw;
    }
    h4 {
      color: v.$font-primary;
      font-size: 2vw;
      font-weight: 700;
    }
    .p-category {
      color: rgba(74, 42, 19, 0.5);
      font-size: 1.2vw;
    }
    p {
      font-size: 1.2vw;
      color: v.$font-primary;
      font-weight: 600;
    }
  }
}
.subparrafo-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5vw;
  margin-top: 10rem;
  color: v.$font-primary;
  text-align: center;
  h2 {
    margin-bottom: 3rem;
    font-size: 4.4vw;
    font-weight: 700;
    span {
      display: block;
    }
  }
  p {
    font-size: 1.1vw;
  }
}

// Responsive
@media only screen and (max-width: 980px) {
  .home__container {
    background-size: 150%;
    .title__container {
      h1 {
        font-size: 5.2vw;
      }
      P {
        font-size: 1.7vw;
      }
    }
    .card__products {
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      margin: 0 auto;
    }
    .subparrafo-txt {
      padding: 0rem;
      margin-top: 5rem;
      h2 {
        font-size: 50px;
        margin-bottom: 2rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

// Responsive
@media only screen and (max-width: 630px) {
  .home__container {
    background-image: url("../assets/home-fondo02.jpg");
    background-size: 100%;
    .title__container {
      background-image: url("../assets/home-fondo01.jpg");
      background-size: cover;
      background-position: center bottom -30px;
      display: flex;
      justify-content: center;
      h1 {
        font-size: 9.2vw;
        margin-bottom: 4.5vw;
      }
      p {
        font-size: 3.5vw;
        margin-top: 6.5vw;
        line-height: 0.2vw;
      }
      .parrafo-txt {
        button {
          font-size: 4vw;
          margin-top: 5vw;
          margin-bottom: 7vw;
        }
      }
    }
    .card__products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 8vw;
      .card {
        width: 100%;

        h4 {
          font-size: 4.5vw;
        }
        .txt__container {
          padding: 3vw;
        }
        .p-category {
          font-size: 3vw;
        }
        p {
          font-size: 3vw;
        }
      }
    }
    .subparrafo-txt {
      h2 {
        font-size: 7.5vw;
      }
      p {
        font-size: 3vw;
      }
    }
  }
}
