@use "../base/variables" as v;

.navbar__container {
  background-color: v.$background-primary;
  display: flex;
  align-items: center;
  max-width: 1400px;
  min-height: 104px;
  .custom-container {
    max-width: 92%;
    .navbar-nav {
      flex-grow: 1;
      justify-content: center;
      gap: 2.5rem;
      a {
        color: v.$font-primary;
        font-weight: 700;
        font-size: 1.8rem;
        font-family: "Noto Serif";
      }
      .dropdown-menu {
        background-color: v.$background-primary;
        margin-top: 1.3rem;
        border: none;
        left: -11rem;
        padding: 0.5rem;
        a {
          font-weight: 100;
          font-size: 1.6rem;
          font-family: "Myriad Pro";
          padding: 1.3rem 0.4rem;
        }
      }
      .icon-arrow {
        margin-left: 1.5rem;
      }
    }
    .icons-redes a {
      color: v.$font-primary;
    }
  }

  .dropdown-without-caret > .dropdown-toggle::after {
    display: none;
  }

  /* Responsive tablet and mobile */
  @media (max-width: 1070px) {
    .navbar__container {
      justify-content: space-between;
      align-items: center;
    }
    .custom-container .navbar-nav a {
      font-size: 1.7rem;
    }
    .navbar-toggler {
      order: -1;
    }
    .facebook-icon {
      display: none;
    }
    @media (min-width: 700px) and (max-width: 991px) {
      .logo {
        margin-left: 100px;
      }
    }
    @media (max-width: 699px) {
      .whatsapp-icon,
      .email-icon {
        display: none;
      }
    }
  }
}
