@use "../base/variables" as v;

.navbar__container {
  background-color: v.$background-primary;
  display: flex;
  align-items: center;
  max-width: 1800px;
  min-height: 104px;
  .custom-container {
    max-width: 92%;
    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media (max-width: 991px) {
        display: none;
      }
      gap: 2.5rem;
      a {
        color: v.$font-primary;
        font-weight: 700;
        font-size: 1.8rem;
        font-family: "Noto Serif";
        position: relative;
        &::before {
          content: " ";
          height: 0.3rem;
          background-color: v.$font-primary;
          position: absolute;
          bottom: -0.2rem;
          border-radius: 1rem;
          opacity: 0;
          transform: translateX(-1.5rem);
          transition: all 0.3s ease;
        }
        &:hover::before {
          width: 100%;
          transform: translateX(0);
          opacity: 1;
        }
      }
      .dropdown-menu {
        background-color: v.$background-primary;
        margin-top: 1.3rem;
        border: none;
        left: -9rem;
        padding: 0rem 0.5rem;
        a {
          font-weight: 100;
          font-size: 1.6rem;
          font-family: "Myriad Pro";
          padding: 1.3rem 0.4rem;
        }
      }
      .icon-arrow {
        margin-left: 1.5rem;
      }
    }
    .icons-redes a {
      color: v.$font-primary;
    }
  }

  .dropdown-without-caret > .dropdown-toggle::after {
    display: none;
  }

  /* Responsive tablet and mobile */
  @media (max-width: 1070px) {
    .navbar__container {
      justify-content: space-between;
      align-items: center;
    }
    .custom-container .navbar-nav a {
      font-size: 1.7rem;
      order: 1;
    }
    .logo {
      order: 2;
      margin-left: 0;
    }
    .icons-redes {
      order: 3;
    }
    .facebook-icon {
      display: none;
    }

    @media (min-width: 700px) and (max-width: 991px) {
      .logo {
        margin-left: 100px;
      }
    }
    @media (max-width: 699px) {
      .whatsapp-icon,
      .email-icon {
        display: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar__container .navbar-toggler {
    display: none;
  }

  .navbar__container .offcanvas-collapse {
    display: none;
  }
}

.offcanvas-header {
  .btn-close {
    font-size: 1.5rem;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
.navbar-toggler-custom {
  border-color: v.$font-primary !important;
}
.offcanvas-body {
  .nav-link {
    color: v.$font-primary;
    font-size: 2rem;
    padding: 1rem;
    &:hover {
      background-color: v.$background-primary;
    }
  }
}
