@use "../base/variables" as v;

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  .layout__container,
  .layout__container__center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    background-color: v.$background-nosotras;
    padding: 4vw;
    .layout__text {
      color: v.$font-primary;
      font-size: 1.2vw;
      width: 55%;
      line-height: 3vw;
      text-align: justify;
      h2 {
        font-size: 2.6vw;
        line-height: 4.5vw;
        font-family: v.$font-text-primary;
        font-weight: 700;
      }
      p {
        font-family: "Myriad Pro";
      }
    }
    .layout__image {
      width: 40%;
    }
    img {
      width: 100%;
      border-radius: 8px;
    }
  }
  .layout__container__center {
    background-color: v.$background-banner;
  }

  @media screen and (max-width: 900px) {
    .layout__container,
    .layout__container__center {
      display: flex;
      flex-direction: column;
      .layout__text {
        width: 90%;
        text-align: start;
        order: 1;
        h2 {
          font-size: 4vw;
          margin-bottom: 4vw;
          @media screen and (max-width: 580px) {
            font-size: 5.6vw;
            margin-bottom: 6vw;
            margin-top: 6vw;
            text-align: center;
          }
        }
        p {
          font-size: 2vw;
          line-height: 4.5vw;
          margin-top: 2vw;
          @media screen and (max-width: 580px) {
            font-size: 3.5vw;
            line-height: 6vw;
            text-align: justify;
          }
        }
      }
      .layout__image {
        width: 70%;
        order: 2;
      }
      .layout__container__center {
        flex: 1;
      }
    }
  }
}
