@use "../base/variables" as v;

.container__products {
  display: flex;
  justify-content: center;
  background-color: v.$background-nosotras;
  max-width: 1800px;
  min-height: 70vw;
  @media (max-width: 900px) {
    justify-content: space-between;
  }
  @media (max-width: 750px) {
    justify-content: center;
    align-items: center;
    min-height: 100vw;
  }
  .filter__container {
    padding: 4.5vw;
    @media (max-width: 750px) {
      display: none;
    }
    h2 {
      color: v.$font-primary;
      font-size: 1.6vw;
    }
    .text__category {
      margin-top: 1.2vw;
      font-size: 1.2vw;
      text-align: start;
      font-family: "Myriad Pro";
      color: v.$font-primary;
      @media (max-width: 980px) {
        font-size: 1.5vw;
      }
      li {
        cursor: pointer;
        padding: 0.8vw 0;
        &:hover {
          background-color: white;
        }
        &.selected {
          background-color: v.$background-primary;
          padding: 0.8vw 0.1vw;
        }
      }
    }
  }
  .container__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5vw;
    padding: 4vw;
    width: 75%;
    height: 50%;
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      width: 65%;
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        gap: 8vw;
      }
    }
    .products__items {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      p {
        text-align: center;
        color: v.$font-primary;
        font-size: 22px;
        font-weight: 600;
        font-family: v.$font-text-primary;
      }
      a {
        color: inherit;
        text-decoration: none;
        text-align: center;
        color: v.$font-primary;
        font-size: 22px;
      }
    }
  }
}
