@use "../base/variables" as v;

.container__products {
  display: flex;
  justify-content: center;
  background-color: v.$background-nosotras;
  gap: 4rem;
  .filter__container {
    padding: 6rem;
    @media (max-width: 990px) {
      display: none;
    }
    h2 {
      color: v.$font-primary;
      font-size: 22px;
    }
    .text__category {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      text-align: start;
      font-family: "Myriad Pro";
      color: v.$font-primary;
      li {
        cursor: pointer;
        padding: 1rem 0;
        &:hover {
          background-color: white;
        }
        &.selected {
          background-color: v.$background-primary;
          padding: 1rem 0.3rem;
        }
      }
    }
  }
  .container__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    padding: 6rem;
    width: 75%;
    align-items: center;
    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 990px) {
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
        @media (max-width: 710px) {
          width: 80%;
        }
      }
    }
    .products__items {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      p {
        text-align: center;
        color: v.$font-primary;
        font-size: 22px;
      }
      a {
        color: inherit;
        text-decoration: none;
        text-align: center;
        color: v.$font-primary;
        font-size: 22px;
      }
    }
    // Responsive
    @media (max-width: 1150px) {
      .container__cards {
        width: 50%;
        display: flex;
        justify-content: center;
        @media (max-width: 1100px) {
          width: 50%;
          @media (max-width: 740px) {
            width: 70%;
            @media (max-width: 520px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.volver-productos {
  font-size: 2vh;
  padding: 2vh 0;
  a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
  }
}
