// _variables.scss
$background-primary: #d8abb7;
$background-botton: #d87e96;
$background-banner: #edd5d8;
$background-button: #b66279;
$background-nosotras: #fff2f4;
$font-primary: #4a2a13;
$font-text-primary: "Noto Serif", serif;
